body {
	background-image: url('background.jpg');
	background-size: cover;
	background-position: center;
	backdrop-filter: blur(3px);
	min-height: 100vh;
}

.background-theme {
	background-color: rgb(86, 79, 177) !important;
}

.background-theme-shadow {
	background-color: rgb(86, 79, 177) !important;
	box-shadow: 0 0 0.3em 0.45em rgb(86, 79, 177) !important;
}

.background-theme-light {
    background-color: rgb(107, 99, 219) !important;
}

.background-theme-light-shadow {
    background-color: rgb(107, 99, 219) !important;
    box-shadow: 0 0 0.3em 0.45em rgb(107, 99, 219) !important;
}

/* untuk html tag "hr" */
.breaker {
	border-top-color: hsla(40, 100%, 97%, 0.35) !important;
}
